<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="ru.iig.guidecase"
      android:versionCode="1"
      android:versionName="1.0">


  <uses-sdk android:minSdkVersion="11"
        android:targetSdkVersion="17" />

    <application android:label="@string/app_name" android:icon="@drawable/ic_launcher">
        <activity android:name="GuideCase"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:label="GuideCase Settings"
            android:name="GuideCaseSettings"
            android:exported="true">
        </activity>

        <activity
            android:label="GuideCaseSearch"
            android:name="GuideCaseSearch"
            android:exported="true">
        </activity>

        <activity
            android:label="GuideCaseSlides"
            android:name="GuideCaseSlides"
            android:exported="true">
        </activity>

        <activity
            android:label="GuideCaseSlide"
            android:name="GuideCaseSlide"
            android:exported="true">
        </activity>
        <service android:name=".GuideCaseService" />
                                           
    </application>

 <uses-permission android:name="android.permission.INTERNET" />
 

</manifest>
